version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_app
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
<<<<<<< HEAD
    ports:
      - "8000:8000"
=======
    environment:
      - DB_HOST=mysql
      - DB_DATABASE=md_gaming
      - DB_USERNAME=root
      - DB_PASSWORD=root
    networks:
      - laravel-network
>>>>>>> staging
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    container_name: laravel_mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: md_gaming
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mysqldata:/var/lib/mysql
    networks:
      - laravel-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: laravel_phpmyadmin
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: root
    depends_on:
      - mysql
    networks:
      - laravel-network

networks:
  laravel-network:
    driver: bridge

volumes:
<<<<<<< HEAD
  mysqldata:
    driver: local
=======
  mysqldata:
>>>>>>> staging
